{% load boardinghouse %}

{% if adminform and original|is_schema_aware %}
  {% include 'boardinghouse/change_schema.html' with disabled=1 %}
{% else %}
  {% if action_list and object|is_schema_aware %}
    {% include 'boardinghouse/change_schema.html' with disabled=1 %}
  {% else %}
    {% include 'boardinghouse/change_schema.html' with disabled=0 %}
  {% endif %}
{% endif %}
 
{% if adminform and add and adminform.form.instance|is_schema_aware and schemata.length > 1 %}
    <span style="font-size: small; color: orange">
      You should select schema first: it clears the data.
    </span>
{% endif %}